#main_title {
  color:red;
  font-weight: 200;
}
#second_title {
  color:gray;
  font-size:20px;
}

.nav {
  padding-bottom: 2em;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;

}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 5px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-right: -4px;
  border-right:white 1px solid;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
  }

.container {
  width: 100%;
  height:100%;

  }
  body {
    font-family: sans-serif;
    font-weight:200;
  }

  .col-8 {
    float:left;
    width:66%;
    box-sizing: border-box;

    padding-right:5px;
    overflow:hidden;
  }
  .col-4 {
    float:right;
    width:33%;
    box-sizing: border-box;
    overflow:hidden;


  }

  .post-date {
    color:#DBDBDB;
    font-size: 22px;
    padding-bottom: 5px;
    padding-top:5px;

  }



  .post-title {
    font-size: 27px;
    padding-bottom:10px;
  }
  p:first-child:first-letter {
    float: left;
    color: #DBDBDB;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;

  }

  .About_us {
    position:relative;
  }

  .ad_img {

    width:95%;
    box-sizing: border-box;

  }

  .fashion_photo {
    float:left;
    width:99%;
    box-sizing: border-box;
    padding-bottom: 10px;

  }
  .col-2 {
    width:.08333333%
    box-sizing:border-box;
  }
.post-body {
  position: relative;
  clear:both;
  line-height: 150%;
}
.continue {
  position: absolute;
  bottom:.5em;
  right:1em;
  padding-bottom:5px;
  padding-right:5px;
  padding-top:5px;
  color:red;
}
.divider {
  width:100%;
  border-top:black 1px solid;


}

.about {
  font-size:8pt;
  line-height: 150%;
}

.bottom-nav {
  text-align:left;
  padding:0;
  font-size:11px;
  font-weight: bolder;
}
.bottom-nav li{
  display:inline;
  list-style:none;
  border-right:#CCCCCC 1px solid;
  padding-left:5px;
  padding-right:5px;

}

h6 {
  color:gray;
}

.bottom-nav a {
  color:red;


}

.popular-list a {
  color:red;
  font-size:14px;
  line-height: 150%;

}
.popular-list li {
  padding-bottom:5px;;
}

.copyright {
  color: #DBDBDB;
}
